node_modules
.next

# Environment variables
.env
.env.local
.env.*.local

*.log

**/.idea/*
!.idea/workspace.cp.xml
!.idea/codeStyleSettings.xml
!.idea/encodings.xml
!.idea/runConfigurations

# force deploy 
